#banner
{ 
}

#admin-messagetray
{
    margin-bottom:4%;
    width:80%;
    left:10%;
    height:7%;
}

#admin-sidetabs
{
}

#admin-mainpanel
{
}

.alert{
    display:none;
}
#ReleaseList .panel-heading{
    background-image: none;
    color:whitesmoke;
}

#release-panel-header{
    background-color: #e38d13;
}

#lts-panel-header{
    background-color: #4cae4c;
}

#git-panel-header{
    background-color: #d43f3a;
}