#navbar
{
	width:100%;
	position:absolute;
	left:0%;
	top:0%;
        
}
#lower-contents
{
    width:70%;
    height:90%;
    padding-bottom:10%;
    margin-left:5%;
    margin-right:5%;
}
#footer
{
    position:fixed;
    height:50px;
    bottom:0;
    left:0;
    right:0;
    margin-bottom:0;
}
body
{
   	font-family: 'Ledger', serif; 
}

#contents{
    margin-top:2%;
    width:70%;
}


.navbar-collapse.collapsing{
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    overflow:hidden;
}

.navbar-collapse.collapse{
    margin-right: 5%;   
    margin-left: 5%;
    width: 90%;
    overflow:hidden;

}

.commentbody{
    font-size:12px;
    width:80%;
    margin-top: 5px;
    margin-bottom: 5px;
}
