#navbar
{
	width:100%;
	height:10%;
	font-family: 'Ledger', serif;
	position:absolute;
	left:0;
	top:0;
}

#contents
{
	width:80%;
	height:90%;
	font-family: 'Ledger', serif;
	position:absolute;
	margin:5%;
}

#footer
{
	width:100%;
	height:5%;
	font-family: 'Ledger', serif;
	position:absolute;
	left:0%;
	top:98%;
}
