#navbar
{
	width:100%;
	position:absolute;
	left:0%;
	top:0%;
        
}
#homepage-contents
{
    position:absolute;
	width:70%;
	height:90%;
    padding-bottom:10%;
	margin-left:16%;
    margin-right:6%;
}
#footer
{
    position:fixed;
    height:50px;
    bottom:0;
    left:0;
    right:0;
    margin-bottom:0;
}
#editor-information
{
    position:absolute;
    width:20%;
    height:10%;
    top:20%;
    left:80%;
}
body
{
   	font-family: 'Ledger', serif; 
}

#contents{
	margin-top:2%;
}

.breadcrumb{
    margin-top:3%;
}